<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/Content/style.css" />

    <link type="text/css" href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />

    <style>
        /* This is my main navigation bar. It contains links to my homepage, projects, about me, and contact me pages. */
        ul.navbar-max {
            list-style: none;
            display: inline;
            float: right;
            font-size: 20px;
            margin-right: 40px;
        }

        ul.navbar-max li {
            display: inline-block;
            margin-right: 10px;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }


        a:hover {
            text-decoration: none;
        }


        a:active {
            text-decoration: none;
        }

        html,
        body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            font-family: 'Poppins', sans-serif;
        }

        main {
            flex: 1;
        }

        footer {
            background-color: #343a40;
            color: #ffffff;
            padding: 10px;
        }

        footer .navbar-text {
            margin-bottom: 0;
        }
    </style>


</head>

<body>
    <script src="/Scripts/script.js" type="text/javascript"></script>
</body>