<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
        <!-- This is my about page that contains my details and link to my resume.-->

        <main class="container">
            <div class="row aboutme">
                <div class="abt_me col-md-6 col-sm-6">
                    <!--this gives a brief about my skills and background.-->
                    <h2 style="color: #3f93ca;">About Me</h2>
                    <h4>Hi! My name is Vrushali Pachchigar</h4>
                    <br>
                    <p>I am an accomplished web development and design professional with an established track record. I
                        am now pursuing Software Engineering Technology Post Graduate course and hold a Bachelor of
                        Technology. My knowledge base covers C#, Java, JavaScript, NodeJS, Oracle, SQL, PL/SQL,
                        Bootstrap, JDBC, CSS, and HTML. I am
                        an expert in strategic project planning, team coordination, and detailed quality assurance. I am
                        skilled at troubleshooting and resolving complex situations since I have great problem-solving
                        and analytical skills. In addition, I am fluent in French, English, and Hindi and have excellent
                        communication abilities.</p>
                    <br>
                    <p>Embark on an exhilarating journey into my professional prowess and captivating achievements by
                        unlocking the PDF version of my resume with a simple click <a
                            href="https://drive.google.com/file/d/1_XveIAb_llJdE5-ZP0NbTTfYZfdmwIrp/view?usp=sharing"
                            target="_blank">here</a>.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="my_image">
                        <!--This is my image.-->
                        <img src="/img/me.jpg" alt="Vrushali Pachchigar" />
                    </div>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>