<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
        <!-- This is my homepage that contains my introduction and my mission statement.-->

        <main class="container">
            <div class="introduction">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- This is my introduction. It contains my name, my title, and a brief description of myself. -->
                        <h1 style="color: #3f93ca;">Welcome</h1>
                        <h2>I Am Vrushali</h2>
                        <h6>Programmer | Thinker | Traveller</h6>
                        <br>
                        <p>As a software engineer, I'm passionate about creating innovative solutions that solve
                            complex
                            problems and make people's lives easier.</p>
                        <div class="about_me">
                            <h2>About Me</h2>
                            <p>Are you curious about the magic behind the software that powers me? Want to know more
                                about the
                                intricate details of my programming? Head over to my About Me page for an in-depth look
                                at my
                                capabilities and training. You'll discover how I can help you unleash your software
                                engineering
                                potential and take your projects to the next level. Don't wait - click this <a
                                    href="/about">link</a> to
                                learn more!</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="intro_image">
                            <!-- This is my image that displays my technical skills and my passion. -->
                            <img src="/img/intro1.jpg" alt="Vrushali Pachchigar" class="img_fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mission_stmt">
                <h2>My Mission</h2>
                <p>To demonstrate my enthusiasm for software engineering and my dedication to providing high-quality
                    solutions that fulfill end users' expectations. I hope to demonstrate my competence in numerous
                    programming languages and tools, as well as my problem-solving approach and attention to detail,
                    through my work. I strive to constantly learn and enhance my talents as well as to work with others
                    to reach common goals. My ultimate goal is to develop software that improves the user experience
                    while positively impacting society.</p>
                <br>
                <br>
                <br>
            </div>

        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>