<%- include ('partials/header.ejs') %> <!-- Including the header partial -->
    <%- include ('partials/main_nav.ejs') %> <!-- Including the main navigation partial -->

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container projects">
            <div class="row text-center m-2">
                <h2 style="color: #3f93ca;">Projects</h2>
                <h4>Have a walk through some of my most amazing developments.</h4>
                <br>
            </div>
            <div class="row m-3">
                <div class="abt_me col-md-12 col-sm-12">
                    <div class="card">
                        <video src="/img/project1.mp4" alt="My first project" class="card-img-top" autoplay loop
                            muted></video>
                        <div class="card-body">
                            <h5 class="card-title">PICTURESQUE</h5>
                            <p class="card-text">I developed a dynamic web application leveraging the Unsplash API to
                                showcase a vast collection
                                of images in an infinite scroll format so that users can effortlessly explore specific
                                themes or
                                subjects, ensuring a visually captivating experience. I also implemented an additional
                                feature
                                that enables users to easily download high-quality images of
                                their choice and access basic metadata for each picture. This enhances user experience,
                                fostering seamless interaction and providing valuable information about the captivating
                                visuals
                                on display.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <div class="abt_me col-md-12 col-sm-12">
                    <div class="card">
                        <video src="/img/project2.mp4" alt="My first project" class="card-img-top" autoplay loop
                            muted></video>
                        <div class="card-body">
                            <h5 class="card-title">CALCULATOR</h5>
                            <p class="card-text">Introducing my Simple Calculator, a user-friendly calculator program,
                                to speed up arithmetic
                                operations. Simple Calculator includes the crucial tools you require for effective
                                computations
                                while putting an emphasis on simplicity. Simple Calculator gives you the opportunity to
                                switch
                                between a light theme and a handy dark mode to improve your user interface and provide
                                users
                                with a seamless experience. A hassle-free computation procedure is guaranteed by the
                                user-friendly interface, responsive design, clear display, and smooth transitions. With
                                Simple
                                Calculator, you can quickly change themes, customize your UI/UX, and get a beautiful and
                                useful
                                calculation experience.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <div class="abt_me col-md-12 col-sm-12">
                    <div class="card">
                        <video src="/img/project_3.mp4" alt="My first project" class="card-img-top" autoplay loop
                            muted></video>
                        <div class="card-body">
                            <h5 class="card-title">TIC TAC TOE</h5>
                            <p class="card-text">Tic Tac Toe Battle is an immersive web application I developed that
                                gives the old game a fresh
                                new look. This two-player game not only provides unlimited entertainment, but it also
                                has
                                built-in local storage features that let you preserve your game data indefinitely. The
                                program
                                maintains a history of previous games, showing the winners and offering a fun
                                experience.
                                Players of all ages will have fun playing Tic Tac Toe Battle thanks to its simple UI and
                                fluid
                                interaction. Prepare to compete, strategize, and enjoy the nostalgia of this classic
                                game.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %> <!-- Including the bottom navigation partial -->
            <%- include ('partials/footer.ejs') %> <!-- Including the footer partial -->