<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container contacts">
            <div class="row text-center m-2">
                <h2 style="color: #3f93ca;">Services</h2>
                <h4>Take a look at what I can offer you with my expertise and your requirements.</h4>
                <br>
            </div>
            <div class="row m-3">
                <br>
                <div class="row">
                    <div class="col-md-6 col-sm-6 service">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/img/service1.jpg" alt="Web Development">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Web Development</h3>
                                <p>I offer a wide range of services in web development, including responsive website
                                    design, custom web application development, CMS
                                    implementation,
                                    website maintenance, SEO optimization, and website analytics.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 service">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/img/service2.jpg" alt="Mobile App Development">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Mobile App Development</h3>
                                <p>I specialize in mobile app development using Android Studio, offering a diverse range
                                    of services from native Android app development to cross-platform development using
                                    frameworks like React Native and Flutter.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 service">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/img/service3.jpg" alt="Content Writing">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Content Writing</h3>
                                <p>I offer a wide range of services in content writing, ranging from website
                                    copywriting, blog article creation, social media content development, SEO
                                    optimization, to email newsletter writing and editing.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 service">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/img/service4.jpeg" alt="Project Management">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Project Management</h3>
                                <p>I offer a comprehensive range of Project Management services, encompassing project
                                    planning, risk assessment and mitigation, resource allocation, timeline management,
                                    stakeholder communication, and quality assurance.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>